.Container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 580px) {
  .Container {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
  }
}
